// ----------------颜色

// 博客内容区背景颜色，支持十六进制
// $bgColor = #eee

// 进度条颜色、nav字体选中时的颜色，同时继承给了首页的按钮
$accentColor = hotpink

// md文件内部的字体颜色
// $textColor = red

// 网站标题颜色、nav字体默认颜色、博文内容区字体颜色
// $darkTextColor = red

// md文件内部代码块背景颜色
// $codeBgColor = red

// nav背景颜色
// $headerBgColor = red

// footer背景颜色
// $footerBgColor = red

// footer图标、字体颜色
// $footerColor = red

// 不知道
// $newsletterBgColor = red

// ---------------布局

// 没效果
// $navbarHeight = 500px

// 没效果
// $sidebarWidth = 500px

// 内容区宽度
// $contentWidth = 80%

// 没效果
// $homePageWidth = 100%


// $MQNarrow = 100px
// $MQMobile = 100px
// $MQMobileNarrow = 100px